#!/usr/bin/env node
[Unit]
Description=Email Verifier

[Service]
Type=simple
ExecStart=/home/emo/code/upwork-email-verificator-and-validator/start_service.sh
Restart=always
RestartSec=1
User=emo

[Install]
WantedBy=multi-user.target
